# 1. Indexing

In [4]:
# Example 1
# Ali is working in Google for 5 years and his salary is 125000'

employee_data = ['Ali', 125000, 'Google', 5]
msg = employee_data[0] + " is working in " + employee_data[-2] + " for " + str(employee_data[-1]) + " years and his salary is " + str(employee_data[1])
print(msg)

Ali is working in Google for 5 years and his salary is 125000

In [7]:
# Example 2

studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,'28 Januray 2020', '05 February 2020']
msg_1 = "Hello "+studentData[0]+ " " +studentData[1]+ "\nYour application is accepted for admission in " +studentData[4]+ " " +studentData[3]+ " in " +studentData[2]+ " \nYou have to submit fee "+str(studentData[-3])+ " before "+str(studentData[-2])+ " \nYour class will start from "+str(studentData[-1])+ " \nThanks"
print(msg_1)

Hello Ahmed Bilal
Your application is accepted for admission in BS Computer Science in Government College University
You have to submit fee 50000 before 28 Januray 2020
Your class will start from 05 February 2020
Thanks

# 2. Slicing

In [13]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]

# (For positive slicing)
# 1. ["Faisalabad", "Lahore", "Islamabad", "Peshawar"]
# 2. ["Islamabad", "Peshawar", "Quetta", "Sahiwal"]
# 3. ["Sahiwal", "Rawalpindi", "Sialkot"]

print(cities[0:5])
print(cities[2:6])
print(cities[5:8])

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar', 'Quetta']
['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']
['Sahiwal', 'Rawalpindi', 'Sialkot']

In [17]:
# (For negative slicing)
# 1. ['Quetta', 'Sahiwal', 'Rawalpindi']
# 2. ['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]
print(cities[-4:-1])
print(cities[-6:])

['Quetta', 'Sahiwal', 'Rawalpindi']
['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

# 3. Update Lists

In [20]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]
# Add values to this list using append

# 1. '20 February 2019'
# 2. 8
studentData.append("20 February 2019")
studentData.append(8)
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', '20 February 2019', 8]

In [21]:
# Use insert method to insert at specific index

# 1. 25000 at index 4
# 2. 'M. Iqbal' at index 1
studentData.insert(4, 25000)
studentData.insert(1, "M. Iqbal")
print(studentData)

['Ali Raza', 'M. Iqbal', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture', '20 February 2019', 8]

In [22]:
# Update list using list update method:

# 1. Change Name from 'Ali Raza' to 'Zohaib Ali'
# 2. Change No of subjects from 5 to 7

studentData[0] = "Zohaib Ali"
studentData[6] = 7
print(studentData)

['Zohaib Ali', 'M. Iqbal', 22, 91.24, 'Computer Science', 25000, 7, 'University of Agriculture', '20 February 2019', 8]

In [23]:
# Remove values from list using remove method

# 1. 'Computer Science'
# 2. 91.24

studentData.remove("Computer Science")
studentData.remove(91.24)
print(studentData)

['Zohaib Ali', 'M. Iqbal', 22, 25000, 7, 'University of Agriculture', '20 February 2019', 8]

In [24]:
# Remove using pop method

# 1. Last value from list
# 2. value at 3rd index

studentData.pop(-1)
studentData.pop(3)
print(studentData)

['Zohaib Ali', 'M. Iqbal', 22, 7, 'University of Agriculture', '20 February 2019']

# 4. Multidimensional list tasks

In [ ]:
employeeData = [["Ali", 35000, "Software Engineer"], ["Talha", 55000, "Product Manager"], ["Nasir", 79000, "Computer Engineer"], ["Khalid", 44000, "DBA"]]

In [ ]:
# Sorry Sir I cannot do Multidimensional list tasks.

# 5. Login User

In [26]:
# Data 1

username = "faizan1214"
password = "qwerty"
emailVerified = "False"

if username == "faizan1214" and password == "qwerty" and emailVerified == "False":
    print("Login Succeed")
else:
    print("Incorrect Login details")

Login Succeed

In [27]:
# Data 2

username = "faizan1214"
password = "qwerty"
emailVerified = "True"

if username == "faizan1214" and password == "qwerty" and emailVerified == "False":
    print("Login Succeed")
else:
    print("Incorrect Login details")

Incorrect Login details